body {
    background-color: rgb(92, 150, 226);
}

.main {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container {
    width: 20%;
    height: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;

}

.card {
      text-align: center;
    font-family: Arial, sans-serif;
    margin: auto;

}
.circles {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: auto;
}

.circle1 {
    width: 20px;
    height: 20px;
    background-color: #ff6666;
    border-radius: 50%;

}

.circle2 {

    width: 20px;
    height: 20px;
    background-color: #ff00b3;
    border-radius: 50%;
}

.circle3 {

    width: 20px;
    height: 20px;
    background-color: #000200;
     border-radius: 50%;

}

.footer {
    display: flex;
    font-size: 30px;
    padding-left: 15px;
    


}

button {
    display: block;
    margin: auto;
    padding: 8px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 2px black;
    border-radius: 7px;
    cursor: pointer;

}

.box{

}