* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  background: #101520;
  color: #fff;
  width: 800px;
  border-radius: 15px;
  overflow: hidden;
}

.card-left {
  position: relative;
  z-index: 2;
  width: 10;
  background: #24345c;
  display: flex;
  justify-content:center;
  align-items: center;
}

.circle {
  position: absolute;
  z-index: 1;
  width: 280px;
  height: 280px;
  background: rgb(0, 0, 0,0.15);
  border-radius: 50%;
}

.shoe {
  width: 200px;
  

  position: relative;
  z-index: 1;
}

.card-right {
  padding: 30px;
  width: 55%;
}

.brand {
  color: #ff9f1c;
}

.collection {
  opacity: 0.7;
}

.price {
  margin: 15px 0;
}

.price .new {
  font-size: 24px;
  color: #ff9f1c;
  margin-right: 10px;
}

.price .old {
  text-decoration: line-through;
  opacity: 0.6;
}

.section {
  margin: 15px 0;
}

.sizes span {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #555;
  margin-right: 8px;
  cursor: pointer;
}

.sizes .active {
  background: #ff9f1c;
  color: #000;
}

.colors span {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.yellow { background: #ff9f1c; }
.black { background: #000; }
.blue { background: #2ec4ff; }

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.buy {
  background: #ff9f1c;
}

.cart {
  background: transparent;
  border: 1px solid #ff9f1c;
  color: #ff9f1c;
}
