*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    background: #eef2f6;
    font-family: Arial, Helvetica, sans-serif;


}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
}

.card{
    background: #fff;
    width: 260px;
    height: 460px;
    padding:25px 20px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card img {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    max-width: 120px;
    max-height: 150px;
    object-fit: contain;
}


.card h3 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #555;
    margin-bottom: 10px;
}


.card p {
    font-size: 12px;
    color: #777;
    margin-bottom: 15px;
    line-height: 1.4;
}


.price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price.green { color: #1abc9c; }
.price.orange { color: #e67e22; }
.price.yellow { color: #f1c40f; }

.stars {
    color: gold;
    margin-bottom: 18px;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto;
}

.btn.green { 
    background: #1abc9c;
}
.btn.orange { 
    background: #e67e22;
}
.btn.yellow {
    background: #f1c40f; 
}